.row-post {
    h4 {
        padding-top: 0;
        margin-top: 0;
    }
    border-bottom: 1px solid darkslategray;
    padding: 15px 0;
    &:nth-child(1) {
        border-top: 1px solid darkslategray;
    }
    &:hover{
        background-color: #ccc;
        cursor: pointer;
    }
    @media screen and (min-width: 768px) {
        .col-thumb {
            padding-left: 0;
        }
    }
    @media screen and (max-width: 768px) {
        .col-thumb {
            margin-bottom: 10px;
        }
    }
}